.details {
    padding: 1rem;
    width: 30rem;
}

.text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #ff9b51;
    font-style: italic;
}

.details a {
    text-decoration: none;
}
.buttons {
    display: inline-flex;
    align-items: center;
    background-color: #bfc9d1;
    color: #2a2630;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}