.details {
    padding: 1rem;
    width: 30rem;
}

.text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #843838;
    font-style: italic;
}

.details a {
    text-decoration: none;
}